/* body settings for all pages */
body {
  margin: 0px;
  background-color: #f2f2f2;
  font-family: 'Playfire Display';
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
