.top_nav {
    overflow: hidden;
    background-color: #6c7368;
}
  
.top_nav ul {
    list-style-type: none;
}

.top_nav li {
    float: left;
    color: #fefefe;
    padding: 14px 16px;
    font-size: 30px;
}
  
.top_nav a:link {
    color: #fefefe;
    text-decoration: none;
}
  
.top_nav a:visited {
    color: #fefefe;
    text-decoration: none;
}
  
.top_nav .split {
    float: right;
}

.dropdown {
    font-size: 30px;
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 30px;
    color: #fefefe;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6c7368;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 80px;
    right: 500px;
}
  
.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}
  
.dropdown-content a:hover {
    color: #6c7368 !important;
    background-color: #cdd9c7;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
