.main-container {
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0 auto;
    color: #f0f0f0;
}

.main-container h1 {
    color: #4B3629;
    font-size: 48px;
}

.main-container ul {
    color: #4B3629;
    list-style-type: none;
}

.main-container .list-item-container {
    color: #4B3629;
    background-color: #cdd9c7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-right: 40px;
}
.main-container .name{
    font-weight: bold;
    font-size: 28px;
}

.main-container .description {
    font-size: 20px;
}

.main-container .btn-view {
    background-color: #ECE8E4;
    color:#4B3629;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border-color: #4b3629;
    margin-right: 10px;
}

.main-container .btn-view2 {
    background-color: #B15D63;
    color: black;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border-color: #4b3629;
    margin-right: 10px;
}

.form-container {
    color: #4B3629;
    background-color: #cdd9c7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

 .form-thing {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 10px;
}

.form-buttons {
    display: flex; 
    align-items: center;
    padding: 10px;
}
